.achievement-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Gupter;
  font-size: large;
  line-height: 25px;
  text-align: justify;
}

.achievement-title {
  font-family: Gupter;
  font-size: larger;
  margin-bottom: 0;
  text-decoration: underline;
}

.table {
  background-color: #c1d7f9;
}

.table-head {
  width: 100%;
  background: linear-gradient(to right, #e996fa, #8cb8fa, #b576f5);
}

.table a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the color of the parent element */
}

.table a:hover {
  text-decoration: underline; /* Add underline on hover */
}
